<div>
  <h2>Le projet de la semaine, ou plus</h2>
  <ul>
    <li>
      <div>
        <h4>1er Exercice</h4>
        <p>
          Ce premier exercice sera essentiel pour les futurs exercices, il sera
          la base de la création des autres exercices. Nous allons travailler
          sur une base d'utilisateur, nous allons la complexifier au fur et à
          mesure, le but est de créer cette base. Donc notre première chose sera
          de créer une interface représentant notre utilisateur, cette
          utilisateur aura un nom et un prénom pour commencer, ce nom et ce
          prenom seront générer alétoirement comme vu précédemment, on aura une
          liste de noms et de prénoms permettant ainsi de pouvoir randomiser la
          génération des personnes. Le but de cette exercice sera donc de
          générer une liste d'utilisateur, une méthode générateUser serait
          appréciable avec comme paramètre le nombre de personne générer, pas
          besoin de créer un bouton dans l'interface, nous voulons que cette
          liste utilisateur soit générer à la construction de l'élément App, la
          fonction sera donc en private et non en public.
        </p>
      </div>
    </li>
    <li>
      <div>
        <h4>2ème Exercice</h4>
        <p>
          Visualisons la donnée, ça sera le mot d'ordre, ce tableau un fois
          généré devra pouvoir être visible, c'est simple, c'est con mais c'est
          rigolo de faire un peu de visu :D
        </p>
      </div>
    </li>
    <li>
      <div>
        <h4>3ème Exercice</h4>
        <p>
          Homonyme un jour, Homonyme toujours, on doit pouvoir checker qui a un
          homonyme dans la liste des utilisateurs, le petit plus serait de
          pouvoir faire en sorte que les deux utilisateurs ayant le même nom
          prénom soit surligner dans le tableau. Pour cette action, une des
          solutions serait de modifier l'interface pour rajouter un moyen de
          lier les deux, en rajoutant un id ? et en faisant un lien ? mais
          comment l'afficher ? Toutes ses questions ont des réponses, sur Google
          :D
        </p>
      </div>
    </li>
    <li>
      <div>
        <h4>4ème Exercice</h4>
        <p>
          Maintenant que nous avons notre liste utilisateur, il faudrait
          déterminer aussi leur sexe, age et poids, l'interface devra évoluer
          dans ce sens, en affichant ses informations. Ses informations seront
          aussi générées aléatoirement, elle devront rester cohérente.
        </p>
      </div>
    </li>
    <li>
      <div>
        <h4>5ème Exercice</h4>
        <p>
          On peut les faire veillir non ? un bouton devra être mis à disposition
          pour donner au gens un an de plus. Un bouton, c'est une action
          utilisateur, et par conséquent un Observable. Dans le cas d'un
          Observable, la source de donnée le devient elle aussi, en fonction de
          l'utilisateur, si il clique, la donnée aura une modification, c'est
          l'essence même de l'observabilité. Un FormGroup et un FormControl
          seront à utiliser pour cette exercice. Il est conseillé de voir le
          code que l'on aura fait ensemble sur les Pokemons avec les select
          utilisé sur les type et les attribue
        </p>
      </div>
    </li>
    <li>
      <div>
        <h4>6ème Exercice</h4>
        <p>
          Et si on les faisait baiser ensemble ? ça serait marrant non ? encore
          un peu d'aléatoire dans ce monde, le but sera ici de créer un
          formulaire permettant de séléctionner un homme et une femme, et de les
          faire baiser. Mais quel est la probabilité qu'un enfant naisse ? là on
          va dire que c'est 100% car on va pas complexifier plus que ça. les
          listes des formulaires devront être filtré, j'ai rien contre
          l'homosexualité mais difficile de faire un enfant avec deux personnes
          de même sexe. Une fois l'enfant créé, celui se rajoutera à la liste,
          les informations de cette enfant devront être cohérente avec la
          réalité, il partagerons du coup leurs noms, l'enfant aura le nom du
          père
        </p>
      </div>
    </li>
    <li>
      <div>
        <h4>7ème Exercice</h4>
        <p>
          Mais si ils vieillissent, il faudrait qu'il est une probabilité de
          mourir, on peut mourir très jeune ou bien mourir très vieux, entre
          deux, mais la probabilité sera pas la même, il faudra donc mettre en
          place un moyen de simuler ce genre d'aléatoire.
        </p>
      </div>
    </li>
  </ul>
</div>
